* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #E6EFF6;
    align-self: center;
}

.container {
    align-self: center;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 80px;
}

.main {
    
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 180px 220px 220px;
}

@media (max-width: 300px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        height: 1000px;
    }

    .container {
        align-self: center;
        margin-left: 25%;
        margin-right: 20%;
        margin-top: 80px;
    }
}

/*Styles for Container one and its content*/
.container1 {
    grid-column: 1;
    grid-row: 1;
    background-color: #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    width: 500px;
}

.container1 h3 {
    color: #36A4A5;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 35px; 
    font-weight: bold;  
}

.container1 p {
    margin-left: 25px;
    line-height: 1.6;
    font-size: 13px;
    color: #B7BDC8;
    font-weight: bold;
    margin-top: 20px;
}

.days {
    color: #C8DC69;
    font-weight: bold;
    line-height: 2;
}

@media (max-width: 300px) {
    .container1 {
        width: 300px;
        height: 250px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }    

    .days {
        color: #C8DC69;
        font-weight: bold;
        line-height: 2;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .guarrantee {
        line-height: 3;
    }
    
    
}

/*Styles for Container two and its content*/
.container2 {
    grid-column: 1;
    grid-row: 2;
    background-color: #2BB3B1;
    width: 250px;
    border-bottom-left-radius: 5px;
}

.container2 h4 {
    margin-left: 25px;
    margin-top: 38px;
    margin-bottom: 18px;
    color: #FFFFFF;
    font-size: 14px;
}

.price-tag {
    color: #FFFFFF;
    font-size: 30px;
    margin-right: 5px;
    margin-left: 25px;
    font-weight: bold;
}

.per-month {
    color: #FFFFFF;
    opacity: 0.6;
}

.access {
    margin-left: 25px;
    color: #B2FBFB;
    line-height: normal;
}

button {
    width: 80%;
    margin-top: 26px;
    margin-left: 25px;
    padding: 10px;
    background-color: #BFDF32;
    border: none;
    border-radius: 0.3rem;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
}

@media (max-width: 300px) {
    .container2 {
        border-bottom-left-radius: 0;
        width: 300px;
        height: 250px;
        margin-top: 71px;
    }
}

/*Styles for Container three and its content*/
.container3 {
    grid-column: 2;
    grid-row: 2;
    background-color: #4ABEBD;
    border-bottom-right-radius: 5px;
    width: 250px;
    margin-left: -337px;
    
}

.container3 h3 {
    margin-left: 25px;
    margin-top: 35px;
    margin-bottom: 15px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}

.container ul li {
    list-style: none;
    margin-left: 25px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    opacity: 0.5;
    line-height: 1.4;
}

@media (max-width: 300px) {
    .container3 {
        grid-column: 1;
        grid-row: 3;
        margin-left: 0px;
        margin-top: 101px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        width: 300px;
        height: 250px;

    }    
}
